<div class="center-div">
  <div class="messages-box">
    <%= link_to "<< Επιστροφή" , :back%>
    <% page_header "Αποστολή μηνύματος" %>
    <%= form_tag messages_path, method: :post do  %>
      <div class="form-group">
        <%= label_tag 'message[subject]', 'Αποστολή μηνύματος για την αγγελία : ' %>
        <%= label_tag(:classified_id, "#{@classified.title}") %>
        <%= text_field_tag 'message[subject]', "#{@classified.title}", class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= label_tag 'message[body]', 'Μήνυμα στον χρήστη : ' %>
        <%= label_tag(:recipient_id, "#{@user.first_name}") %>
        <%= text_area_tag 'message[body]', "Χαίρετε #{@user.first_name} , \nΕνδιαφέρομαι για την αγγελία : #{@classified.title}",rows: 15, cols: 3, class: 'tinymce', required: true %>
        <%= tinymce :content_css => asset_path('application.css')%>
      </div>
      <div class="form-group">
        <%= hidden_field_tag(:recipient_id, "#{@user.id}") %>
      </div>
      <%= submit_tag 'Send', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
