<ol class="breadcrumb">
  <%= render_breadcrumbs(" ") %>
</ol>
<div class="new">
  <!--<section class="container">-->
  <div class="row">
    <div class="col-md-5">
      <!--<h3 class="dark-grey">Προφίλ</h3>-->
      <div class="form-group col-md-6">
        <label>Όνομα χρήστη</label>
      </div>
      <div class="form-group col-md-6" id="info">
        <label><%= @user.first_name %></label>
      </div>
      <div class="form-group col-md-6">
        <label>Email</label>
      </div>
      <div class="form-group col-md-6" id="info">
        <label><%= @user.email %></label>
      </div>
      <div class="form-group col-md-6">
        <label>Περιοχή</label>
      </div>
      <div class="form-group col-md-6" id="info">
        <label><%= @user.region%></label>
      </div>
      <div class="form-group col-md-6 ">
        <label>Τηλέφωνο</label>
      </div>
      <div class="form-group col-md-6" id="info">
        <label><%= @user.telephone%></label>
      </div>
      <div class="form-group col-md-6 ">
        <label>Rating</label>
      </div>
      <br>
      <!-- STARS ARE HERE! -->
      <div class="small-2 large-4 columns">
        <% if current_user == @user %>
          <%= rating_for @user, "rating" , {readonly:true} %>
        <%else %>
          <%= rating_for @user, "rating"%>
        <% end %>
      </div>
      <% if @user == current_user %>
        <div class="form-group col-md-12">
          <%= link_to "Αλλαγή" ,edit_user_registration_path , class: "btn-submit" %>
          <!--<%= link_to('Edit registration', edit_user_registration_path) %>-->
        </div>
      <% end %>
    </div>
    <div class="col-lg-6 visible-lg pull-right">
      <% if @user == current_user %>
        <h3 class="dark-grey">Στοιχεία χρήστη</h3>
        <div class="content">
          <p>Μπορείτε να προσθέσετε το τηλέφωνο ώστε να γίνεται πιο εύκολα η</p>
          <p>επικοινωνία με τα μέλη που ενδιαφέροντε για τις αγγελίες σας</p>
          <p>Το <span>broker</span> δεν χρησημοποιεί τα στοιχεία σας</p>
          <p>για διαφημιστικούς λόγους.</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
