
<div class="profilemenu">
<!--<div class="center-div" id="index">-->
        <ul class="nav nav-tabs">


            <% if @user == current_user %>

                <li class="active"><a data-toggle="tab" href="#home">Οι Αγγελίες μου</a></li>                
                <li><a data-toggle="tab" href="#menu1">Προφίλ</a></li>

            <% else  %>

                <li class="active"><a data-toggle="tab" href="#home">Οι Αγγελίες του χρήστη <%= @user.first_name %></a></li>
                <li><a data-toggle="tab" href="#menu1">Προφίλ-Επικοινωνία</a></li>

            <% end %>

            <!--<li>Αγγελίες</a></li>-->
            

            <% if @user == current_user %>
                <li><%= link_to "Μηνύματα" , conversations_path  %></li>
                <li><a data-toggle="tab" href="#menu3">Watchlist</a></li>
            <% end %>

        </ul>

        <div class="tab-content">

            <div id="home" class="tab-pane fade in active">
                <%= render 'listing' %>
            </div>


            <div id="menu1" class="tab-pane fade">
                <%= render 'profile' %>
            </div>


            <div id="menu2" class="tab-pane fade">
              

              
               

            </div>


            <div id="menu3" class="tab-pane fade">
            <%= render 'favorite' %>
            </div>


        </div>
 
  <!--  </div> -->  
</div>