


    <div class="new">
        <div class="container-fluid">
            <section class="container">
                <div class="container-page">
                    <div class="col-md-4">
                        <!--<h3 class="dark-grey">Προφίλ</h3>-->




                        <div class="form-group col-md-6">
                            <label>Όνομα χρήστη</label>
                        </div>

                        <div class="form-group col-md-6" id="info">
                            <label><%= @user.first_name %></label>
                        </div>

                    

                        <div class="form-group col-md-6">
                            <label>Email</label>
                        </div>

                        <div class="form-group col-md-6" id="info">
                            <label><%= @user.email %></label>
                        </div>



                        <div class="form-group col-md-6">
                            <label>Περιοχή</label>
                        </div>

                        <div class="form-group col-md-6" id="info">
                            <label><%= @user.region%></label>
                        </div>




                        <div class="form-group col-md-6 ">
                            <label>Τηλέφωνο</label>
                        </div>

                        <div class="form-group col-md-6" id="info">
                            <label><%= @user.telephone%></label>
                        </div>

                        <div class="form-group col-md-6 ">
                            <label>Rating</label>
                        </div>

                        <div class="form-group col-md-6" id="info">
                            <label><%= @user.stars%></label>
                        </div>


                        <div class="form-group col-md-12">
                            <%= link_to "Αλλαγή" , edit_path(@user) , class: "btn-submit" %>
                        </div>
                    </div>








                    <div class="col-md-5">
                        <h3 class="dark-grey">Στοιχεία χρήστη</h3>
                        <div class="content">
                            <p>Μπορείτε να προσθέσετε το τηλέφωνο ώστε να γίνεται πιο εύκολα η</p>
                            <p>επικοινωνία με τα μέλη που ενδιαφέροντε για τις αγγελίες σας</p>
                            <p>Το <span>broker</span> δεν χρησημοποιεί τα στοιχεία σας</p>
                            <p>για διαφημιστικούς λόγους.</p>
                        </div>
                        <div class="linkbtn">

                        </div>


                    </div>
                </div>

            </section>
        </div>
    </div>

