<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style ="padding:20px;border:1px solid #e9e9e9;">
    <h1 style="color:#FF0000;">broker</h1>
    <h3 style="color:#f2f2f2;">notify</h3>
    <h3>Μήνυμα για την αγγελία:<%= @message.subject %></h3>
    <blockquote style ="padding:20px;border:1px solid #e9e9e9;">
      <p >
        <%= raw @message.body %>
      </p>
    </blockquote>
    <p>
      Όνομα Αποστολέα: <%= @message.sender.name %>
    </p>
    <p>
      Email Αποστολέα: <%= @message.sender.email %>
    </p>
    <p>
      Ημερομηνία αποστολής: <%= @message.created_at.strftime("%d - %B - %Y") %>
    </p>
  </body>
</html>
