<div class="col-md-6">
  <div class="section1">
    <div class="form-group col-lg-4">
      <label>Μάρκα</label>
      <%#= f.text_field :make, :id => "jtags" , :placeholder => "π.χ. Fender" ,  :class => "form-control"  %>
      <%= f.select :make , Classified::BRANDS , {include_blank:true} , :class => 'select2' %>
    </div>
    <div class="form-group col-lg-5">
      <label>Μοντέλο</label>
      <%= f.text_field :model, :placeholder => "π.χ. Stratocaster" , :class => "form-control"%>
    </div>
    <div class="form-group col-lg-3">
      <label>Έτος</label>
      <%= f.text_field :year, :placeholder => "π.χ. 1992" , :class => "form-control"%>
    </div>
    <div class="form-group col-lg-4">
      <label>Κατάσταση</label>
      	<%= f.select :condition , Classified::CONDITIONS , {include_blank:true} , :class => 'select2' %>
        <%#= f.collection_select :condition, Classified::CONDITIONS, :to_s, :to_s,:include_blank => true , id: "select2" %>
        <%#= f.select :condition, Classified::CONDITIONS , id: 'sss' %>
        <%#= f.select(:condition, Classified::CONDITIONS, :class => 'form-control', :id => "select2" ) %>
        <%#= select_tag "people", Classified::CONDITIONS, id: "select2" %>        
    </div>
    <div class="form-group col-lg-5">
      <label>Χώρα κατασκευής</label>
      <%= f.select :make_country , Classified::COUNTRIES , {include_blank:true} , :class => 'select2' %>
      <%#= f.collection_select :make_country, Classified::COUNTRIES, :to_s, :to_s,:include_blank => true %>
      <%#= f.text_field :make_country, :placeholder => "" , :class => "form-control"%>
    </div>
    <div class="form-group col-lg-3">
      <label>Τιμή</label>
      <%= f.text_field :price, :placeholder => "" , :class => "form-control"%>
    </div>
  </div>
</div>
<div class="col-md-6 visible-lg">
  <h3 class="dark-grey">Κατηγοριοποίηση αγγελίας</h3>
  <div class="content">
    <p>Η σωστή κατηγοριοποίηση βοηθάει τόσο τους πιθανούς αγοραστές</p>
    <p>Όσο και εμάς να προσφέρουμε τα σωστά αποτελέσματα στις αναζητήσεις</p>
  </div>
</div>