
<div class="indexbox">
	<% @classified.each do |f| %>

	<div class="center-div" id="index">

		
		
        
            <div class="pull-right">
                <div class="listingoptions">
                    <div class="col-md-3">
                        <p><%= link_to "", editlisting_path(f) , :class => "glyphicon glyphicon-envelope" , :style => "color:#EFCE7B" %></p>
                        <p><%= link_to "",f, :confirm => "Are you sure?" ,:method => :delete , :class => "glyphicon glyphicon-heart" , :style => "color:#FF0000" %></p>
                        <p><%= link_to "", editlisting_path(f) , :class => "glyphicon glyphicon-flag"  , :style => "color:#EB573B" %></p>
                    </div>
                </div>
            </div>

        <%= link_to classified_path(f) , :class => "link" do %>
		<div class="media">
			<div class="mediabox">
				
				<div class="media-left" href="#">
					<% f.photos.each do |p| %>

					<!-- <img class="media-object" src="..." alt="Generic placeholder image">-->
					<%= image_tag p.image , :class => "media-object" %>

					<%end%>
				</div>
				<div class="media-body">
					<h5 class="media-heading"> <%= f.title %></h5>
					<div class="price">										
						<h3><%= f.price %></h3>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%end%>
	<%end%>

</div>

