<%# breadcrumb :classified, @classified%>
<div class="indexbox" id="show">
  <div class="center-div" id="classifiedshow">
    <div class="container-fluid">
      <div class="row" id="showtitle">
        <div class="col-sm-9 pull-left" id="titlecol">
          <div class="h3title">
            <h3 class="dark-grey" id="title"><%= @classified.title %></h3>
          </div>
        </div>
        <div class="col-sm-3 pull-right">
          <h3 class="dark-grey pull-right" id="prc"><%= @classified.price %><small><span class="glyphicon glyphicon-euro" id="prceuro"></span></small></h3>
        </div>
      </div>
      <div class="row" id="carouselrow">
        <div class="col-md-12" id="carousel">
          <div id="image">
            <%= carousel_for @image_urls  %>
          </div>
        </div>
      </div>
      <div class="row" id="stats">
        <div id="update_stats">
          <%= render partial: "classifieds/stats", locals: {classified: @classified} %>
        </div>
      </div>
      <div class="row" id="cdescription">
        <div class="col-md-12">
          <div class="text">
            <%= @classified.description.html_safe %>
          </div>
        </div>
      </div>
      <div class="row" id="fields">
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="fields">
              <small>
                <ul>
                  <li>Μάρκα: <strong><%= @classified.make%></strong></li>
                  <li>Μοντέλο: <strong><%= @classified.model %></strong></li>
                  <li>Κατάσταση: <strong><%= @classified.condition%></strong></li>
                  <li>Χώρα κατασκευής: <strong><%= @classified.make_country%></strong></li>
                  <li>Έτος: <strong><%= @classified.year%></strong></li>
                </ul>
              </small>
            </div>
          </div>
          <div class="col-md-6">
            <% if current_user%>
              <div class="fields">
                <small>
                  <ul>
                    <li>Άγγελία απο το μέλος: <strong><%= link_to @classified.user.first_name, profile_path(@classified.user_id)%></strong></li>
                    <% if @classified.user.telephone.present? %>
                      <li>Τηλέφωνο: <strong><%= link_to @classified.user.telephone, profile_path(@classified.user_id)%></strong></li>
                    <%end%>
                    <% if @classified.user.email.present? %>
                      <li>Email: <strong><%= link_to @classified.user.email, profile_path(@classified.user_id)%></strong></li>
                    <%end%>
                    <% if @classified.user.region.present? %>
                      <li>Περιοχή: <strong><%=  @classified.user.region%></strong></li>
                    <%end%>
                  </ul>
                </small>
              </div>
            <%else%>
              <small>
                <h5> Κάντε <%= link_to "Sign In" , new_user_session_path%> / <%=link_to "Sign Up", new_user_registration_path%></h5>
                <h5>Για να δείτε τα στοιχεία επικοινωνίας.</h5>
              </small>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
