<div class="indexbox">
  <div class="center-div" id="classifiedshow">
    <div class="container-fluid">
      <div class="row" id="showtitle">
        <div class="col-sm-9 pull-left" id="titlecol">
          <div class="h3title">
            <h3 class="dark-grey" id="title"><%= @classified.title %></h3>
          </div>
        </div>
        <div class="col-sm-3 pull-right">
          <h3 class="dark-grey pull-right" id="prc"><%= @classified.price %><small><span class="glyphicon glyphicon-euro" id="prceuro"></span></small></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" id="carousel">
          <div id="image">
            <%= carousel_for @image_urls  %>
          </div>
        </div>
      </div>
      <div class="row" id="stats">
        <div class="col-md-6" id="left">
          <h5 class="glyphicon glyphicon-heart"></h5>
          <h5 class="">Loved by: <%= @classified.favorited_by.count %> </h5>
        </div>
        <div class="col-md-6" id="right">
          <%= link_to "", new_classified_message_path(:recipient_id => @classified.user_id , :classified_id => @classified.id), :class => "glyphicon glyphicon-envelope" , :style => "color:#EFCE7B" %>


          <!-- LIKE -->
          <%if current_user.favorite_classifieds.collect(&:classified_id).include?(@classified.id) %>
            <%= link_to "", favorite_classified_path(@classified, type: "unfavorite") , :class => "glyphicon glyphicon-heart" , :style => "color:#FF0000", method: :put %>
          <%else%>
            <%= link_to "", favorite_classified_path(@classified, type: "favorite") , :class => "glyphicon glyphicon-heart-empty" , :style => "color:#000000", method: :put %>
          <%end%>




          <!-- FLAG -->
          <%if current_user.flags.collect(&:classified_id).include?(@classified.id) %>
            <p><%= link_to "", flag_classified_path(@classified, type: "unflag") , :class => "glyphicon glyphicon-flag" , :style => "color:#EB573B", method: :put %></p>
          <%else%>
            <p><%= link_to "", flag_classified_path(@classified, type: "flag") , :class => "glyphicon glyphicon-flag" , :style => "color:#89E4FF", method: :put %></p>
          <%end%>


          
        </div>
      </div>
      <div class="row" id="cdescription">
        <div class="col-md-12">
          <div class="text">
            <%= @classified.description.html_safe %>
          </div>
        </div>
      </div>
      <div class="row" id="fields">
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="fields">
              <small>
                <ul>
                  <li>Μάρκα: <strong><%= @classified.make%></strong></li>
                  <li>Μοντέλο: <strong><%= @classified.model %></strong></li>
                  <li>Κατάσταση: <strong><%= @classified.condition%></strong></li>
                  <li>Χώρα κατασκευής: <strong><%= @classified.make_country%></strong></li>
                  <li>Έτος: <strong><%= @classified.year%></strong></li>
                </ul>
              </small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fields">
              <small>
                <ul>
                  <li>Άγγελία απο το μέλος: <strong><%= link_to @classified.user.first_name, profile_path(@classified.user_id)%></strong></li>
                  <% if @classified.user.telephone.present? %>
                    <li>Τηλέφωνο: <strong><%= link_to @classified.user.telephone, profile_path(@classified.user_id)%></strong></li>
                  <%end%>
                  <% if @classified.user.email.present? %>
                    <li>Email: <strong><%= link_to @classified.user.email, profile_path(@classified.user_id)%></strong></li>
                  <%end%>
                  <% if @classified.user.region.present? %>
                    <li>Περιοχή: <strong><%=  @classified.user.region%></strong></li>
                  <%end%>
                </ul>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>