
<div class="center-div">
<div class="col-lg-12" id="image">
		<%  @classified.photos.each do |p| %>


				<h3 class="dark-grey"><%= @classified.title %></h3>
				<h5 class="dark-grey"><%= @classified.favorited_by.count %> </h5>

		<%= image_tag p.image %>

		<%end%>

	</div>
	<p><%= link_to "", editlisting_path(@classified) , :class => "glyphicon glyphicon-envelope" , :style => "color:#EFCE7B" %></p>
                        
     <p><%= link_to "", favorite_classified_path(@classified, type: "favorite") , :class => "glyphicon glyphicon-heart" , :style => "color:#FF0000", method: :put %></p>
     <p><%= link_to "", editlisting_path(@classified) , :class => "glyphicon glyphicon-flag"  , :style => "color:#EB573B" %></p>
	<ul> 

		
		<h3 class="dark-grey">Model</h3>
		<li><%= @classified.model %></li>
		<h3 class="dark-grey">Description</h3>
		<li><%= @classified.description %></li>
		<li><%= link_to "Back", '/' , :class => "link" %></li>
		<li><%= link_to @classified.user.first_name, profile_path(@classified.user_id) %></li>


	</ul>
</div>
