

<div class="indexbox">
	<div class="col-md-9 visible-lg">
		<div class="facets">
			

			<h6>Μοντέλο</h6>
			<ul>
				<% for row in @search.facet(:model).rows %>
				<li>
					<% if params[:model].blank? %>
					<%= link_to row.value, :model => row.value %> (<%= row.count %>)
					<% else %>
					<strong><%= row.value %></strong> (<%= link_to "remove", :model => nil %>)
					<% end %>
				</li>
				<% end %>
			</ul>

			<h6>Μάρκα</h6>
			<ul>
				<% for row in @search.facet(:make).rows %>
				<li>
					<% if params[:make].blank? %>
					<%= link_to row.value, :make => row.value %> (<%= row.count %>)
					<% else %>
					<strong><%= row.value %></strong> (<%= link_to "remove", :make => nil %>)
					<% end %>
				</li>
				<% end %>
			</ul>
		</div>
	</div>



<div class="center-div" id="index">

	<div class="categorytitle">
		<h4>
		<%= @category.root.name %>
		<% unless @category.name == @category.root.name %>
		<span> >> </span><%= @category.name %>

		</h4>
		<%end%>
	</div>

	<% @category.self_and_descendants.each do |desc| %>
	<% desc.classifieds.each do |f|%>
	<%= link_to classified_path(f) , :class => "link" do %>
	<div class="media">
		<div class="mediabox">

			<div class="media-left" href="#">
				<% if f.photos.first %>
                    <%= image_tag f.photos.first.image.url , :class => "media-object"%>

                <%end%>
			</div>
			<div class="media-body">
				<h5 class="media-heading"> <%= f.title %></h5>
				<div class="price">										
					<h3><%= f.price %></h3>
				</div>
			</div>


		</div>
	</div>

	<%end%>
	<%end%>
	<%end%> 
</div>
</div>
</div>
